.videos {
    background: #f2f2f2;
    padding: 2rem 0;

    .video {
        border: 1px solid $border-color;
        padding: 1rem;
        margin: 0 1rem 1rem 0;

        h3 {
            color: #1b4b72;
        }
    }
}

#youtube-videos h2 {

    color: $theme-blue;
    border-bottom: 3px solid;
    display: inline-block;
    padding: 0 0 8px;

    .MuiSvgIcon-root {
        font-size: 1.8rem;
    }
}

.carousel .slide .legend {
    display: none;
}

.footer {
    position: relative;

    .footer-content {
        background: #0f3551;
        padding: 150px 0 50px;
        color: #ffffff;
    }

    svg.polygon {
        top: 0;
        bottom: unset;
    }
}

.video-card-media {
    padding-top: 56.25%
}

.colored-area {
    position: relative;
    background-image: linear-gradient(rgba(255, 41, 82, 0.96), rgba(255, 41, 81, 0.73));
}

.header-content {
    padding: 85px 0 135px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

header h1 {
    color: white;
}

svg.polygon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 221px; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px; /* Footer height */
}

.error-404 {
    margin-top: 4rem;
    font-size: 4rem;
    color: #ddd;
    line-height: 1;

    b {
        font-size: 6rem;
    }

    &.error-500 {
        color: #ddb1c3;
    }
}

input:invalid + fieldset {
    border-color: $theme-red;
}

@media (max-width: 699px) {
    .svg--lg {
        display: none;
    }
}

@media (min-width: 700px) {
    .svg--sm {
        display: none;
    }
}

